<section>
  <% @pagination.each do |page| %>
    <a href="/page/<%= page %>"><%= page %></a>
  <% end %>
  <hr>
  <% @threads.each do |thread| %>
  <div>
    <div>
    <%= thread[:thread_id] %>
    <span id="title_<%= thread[:thread_id] %>"><%= thread[:title] %></span>
    <% if  @user.eql? thread[:post_username] %>
      <a href="javascript:void(0)" onClick="openEditWindow(<%= thread[:thread_id] %>)">edit</a>
      <a href="javascript:void(0)" onClick="deleteThread(<%= thread[:thread_id] %>)">delete</a>
    <% else %>
      <a href="javascript:void(0)" onClick="openReplyWindow(<%= thread[:thread_id] %>)">reply</a>
    <% end %>
    </div>
    <div>
    <span id="name_<%= thread[:thread_id] %>"><%= thread[:name] %></span>
    <span id="write_date_<%= thread[:thread_id] %>"><%= thread[:write_date] %></span>
    </div>
    <div>
      <p id="text_<%= thread[:thread_id] %>"><%= thread[:text] %></p>
    </div>
    <% unless thread[:attachment_file_path] == nil %>
      <img src="images/<%= thread[:attachment_file_path] %>" width="450">
      <a id="file_dl" href="/download/<%= thread[:attachment_file_path]%>">file download</a>
  <% end %>
  </div>
  <hr>
  <% end %>
</section>