<p><%= @user %>　Welocome </p>
<article>
<section>
<p>Post Thread!</p>
<form action="/create_thread" method="POST">
<div><label>name :<input type="text" name="name" /></label></div>
<div><label>title:<input type="text" name="title" /></label></div>
<textarea cols="30" rows="5" wrap="hard" name="text" placeholder="Please input comment!!!"></textarea><br>
<button type="submit">Post</button>
</form>
</section>
<section>
  <hr>
  <% @threads.each do |thread| %>
  <div>
    <div>
    <%= thread[:thread_id] %>
    <%= thread[:title] %>
      <a href="javascript:void(0)" onClick="openWindow(<%= thread[:thread_id] %>)">edit</a>
      <a href="javascript:void(0)" onClick="deleteThread(<%= thread[:thread_id] %>)">delete</a>
    </div>
    <div>
    <%= thread[:name] %>
    <%= thread[:write_date] %>
    </div>
    <div>
      <p><%= thread[:text] %></p>
    </div>
  </div>
  <hr>
  <% end %>
</section>
</article>
<aside>
<section>
<h1>edit account</h1>
<a href="/edit_account">edit_account</a>
</section>
<section>
<h1>delete account</h1>
<a href="/delete_account">delete_account</a>
</section>
<section>
<h1>logout</h1>
<a href="/logout">logout</a>
</section>
</aside>
<script type="text/javascript">
  function openWindow(thread_id) {
    var wx = 640;
    var wy = 480;
    var x = (screen.height - wx) / 2;
    var y = (screen.height - wy) / 2;
    window.open('/edit_thread/' + thread_id, null, "width=" + wx +",height=" + wy + ",top=" + y + ", left=" + x);

  }

  function deleteThread(thread_id) {
    console.log(thread_id);
    if (window.confirm('削除しますか?')) {
      //TODO delete function
    } else {
      return false;
    }
  }
</script>
