<p>HOME</p>
<article>
<section>
<p>Post Thread!</p>
<form action="/create_thread" method="POST">
<div><label>name :<input type="text" name="name" /></label></div>
<div><label>title:<input type="text" name="title" /></label></div>
<textarea cols="30" rows="5" wrap="hard" name="text" placeholder="Please input comment!!!"></textarea><br>
<button type="submit">Post</button>
</form>
</section>
<section>
<table>
  <% @threads.each do |thread| %>
  <tr>
    <td><%= thread[:name] %><td>
    <td><%= thread[:title] %></td>
    <td><%= thread[:text] %></td>
    <td><%= thread[:write_date] %></td>
    <td><a href="/edit_thread/<%= thread[:id] %>">edit</a>
    <form action="/delete_thread//<%= thread[:id] %>" method="POST">
    <td><input type="submit" value="delete"></td>
    </form>
  </tr>
  <% end %>
</table>
</section>
</article>
<aside>
<section>
<h1>edit account</h1>
<a href="/edit_account">edit_account</a>
</section>
<section>
<h1>delete account</h1>
<a href="/delete_account">delete_account</a>
</section>
<section>
<h1>logout</h1>
<a href="/logout">logout</a>
</section>
</aside>
