<script type="text/javascript" src="./js/main.js"></script>
<p><%= @user %>　Welocome </p>
<article>
<section>
<p>Post Thread!</p>
<form action="/create_thread" method="POST">
<div><label>name :<input type="text" name="name" /></label></div>
<div><label>title:<input type="text" name="title" /></label></div>
<textarea cols="30" rows="5" wrap="hard" name="text" placeholder="Please input comment!!!"></textarea><br>
<button type="submit">Post</button>
</form>
</section>
<section>
  <hr>
  <% @threads.each do |thread| %>
  <div>
    <div>
    <%= thread[:thread_id] %>
    <span id="title_<%= thread[:thread_id] %>"><%= thread[:title] %></span>
      <a href="javascript:void(0)" onClick="openWindow(<%= thread[:thread_id] %>)">edit</a>
      <a href="javascript:void(0)" onClick="deleteThread(<%= thread[:thread_id] %>)">delete</a>
    </div>
    <div>
    <span id="name_<%= thread[:thread_id] %>"><%= thread[:name] %></span>
    <span id="write_date_<%= thread[:thread_id] %>"><%= thread[:write_date] %></span>
    </div>
    <div>
      <p id="text_<%= thread[:thread_id] %>"><%= thread[:text] %></p>
    </div>
  </div>
  <hr>
  <% end %>
</section>
</article>
<aside>
<section>
<h1>edit account</h1>
<a href="/edit_account">edit_account</a>
</section>
<section>
<h1>delete account</h1>
<a href="/delete_account">delete_account</a>
</section>
<section>
<h1>logout</h1>
<a href="/logout">logout</a>
</section>
</aside>